div.panel.text-center
  div.container
    div.row
      div.xs-hidden.col-sm-3
      div.col-xs-12.col-sm-6
        form
          div.input-group.input-group-lg.search-field
            input.form-control(type='text' placeholder='Search Channels' ng-model='searchQuery')
            span.input-group-btn
              button.btn.btn-primary(type='submit' ng-click='searchChannels()') Go!
      div.xs-hidden.col-sm-3
    div.row
      div.col-xs-12.col-m-6.search-results-col
        div(ng-repeat='result in searchResults')
          a(ng-href='/channel/{{ result.id.channelId }}')
            div.media.thumbnail.search-result
              div.media-left
                img.media-object(ng-src='{{ result.snippet.thumbnails.default.url }}' width='88' height='88')
              div.media-body
                h3.media-heading(ng-bind='result.snippet.title')